<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.calendarnotifier.refresh</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.688632885106-p0mle40kksuii21vgtt184cd65g1q6au</string>
			</array>

		</dict>
	</array>
	<key>GIDClientID</key>
	<string>688632885106-p0mle40kksuii21vgtt184cd65g1q6au.apps.googleusercontent.com</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app needs access to your calendar to sync events.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
